.hover_underline {
  display: inline-block;
  position: relative;
  color: #424342;
}

.hover_underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #424342;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover_underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
