<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Scheduler</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
      </head>
    <body>
    
       
       {% block content %}
       
       {% endblock %}
    
           
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>






  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
meetinglist()
createmeeting()
function meetinglist()
{
  var url = "{% url 'meet-list' %}" 
 var wrapper = document.getElementById('all_meet') 
 wrapper.innerHTML =''
  fetch(url)
  .then((res)=>res.json())
  .then(function(data){
    console.log(data)
    var list = data
    for (var i in list)
    {
      var item = `
      <div id="data-row-${i}">
<span>${list[i].date}</span>

      </div>

      `
      wrapper.innerHTML +=item
    }
  })
}

function createmeeting(){
  var form = document.getElementById('submit_button')
  form.addEventListener('click',function(e){
    e.preventDefault();
    console.log('form submited')
    var url = "http://localhost:8000/post/data" 
    var team_name = $('#team').val(); 
    var date = $('#datepicker').val()
    var start_time =$('.timepicker').val()
    var end_time =$('.timepicker2').val()
    var team_manager =$('#id_team_manager').val()
    var team_lead_primary=$('#id_team_lead_primary').val()
     var team_lead_secondary =$('#id_team_lead_secondary').val()
     var member_primary =$('#id_member_primary').val()
     var member_secondary =$('#id_member_secondary').val()
     var member_teritary =$('#id_member_teritary').val()
     let form_data =  {
      'date':date,
      'team_name':team_name,
      'start_time':start_time,
      'end_time':end_time,
      'team_manager':team_manager,
      'team_lead_primary':team_lead_primary,
      'team_lead_secondary':team_lead_secondary,
      'member_primary':member_primary,
      'member_secondary':member_secondary,
      'member_teritary':member_teritary
    }
   console.log(team_manager,team_lead_primary,team_lead_secondary,member_primary,member_secondary,member_teritary,date,start_time,end_time)
    console.log(url)
  fetch(url,{

    method : 'post',
    headers :{ 
      'Content-Type' : 'application/json',
      'X-CSRFToken':csrftoken,
    },
    body : JSON.stringify(form_data)




  }).then(function(){
   meetinglist()
  })

  })}
    
  



$('.timepicker').timepicker({
      timeFormat: 'h:mm p',
      interval:30,
      dynamic: true,
      dropdown: true,
      scrollbar: false,
    
  
  });
  $('.timepicker2').timepicker({
    timeFormat: 'h:mm p',
    interval:30,
    dynamic: true,
    dropdown: true,
    scrollbar: false,
  

});
$(function() {
  $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy'});
});

 $('.search_meets').on('click',function(e){
        
          e.preventDefault();
          var team_name = $("#team").val(); 
       
          var date_is = $('#datepicker').val()
          var start_time = $('.timepicker').val()
          var end_time = $('.timepicker2').val()
         
          console.log(team_name)
          console.log(date_is)
          console.log(start_time)
          console.log(end_time)
          $.ajax({
            url:"{% url 'scheduled_meets' %}",
            type:'GET',
            dataType:'json',
            success:function(resp){
              console.log(resp)
             
            },
            error:function(resp){
              console.log('something went wrong fetching meets')
            }
          })
        })






        $( function() {
          
          $( "#team" ).autocomplete({
            source: '{% url 'meeting_form' %}'
          });
        } );






$("#team").change(function () {
          const url = "{% url 'team_members' %}"  
          const team_name = $('#team').val(); 
         
  
           $.ajax({                      
              url: url,                    
              data: {
                  'team_name': team_name       
              },
              success: function (data) {   
                console.log('success',data)
               
                let html_data = '<option value="">-------</option>'
                data.forEach(function(d){
                  html_data +=`<option value="${d.user_id}">${d.user_id}</option>`
                 
                })
                console.log(html_data)
                $('#id_team_manager').html(html_data)
                $('#id_team_lead_primary').html(html_data)
                $('#id_team_lead_secondary').html(html_data)
                $('#id_member_primary').html(html_data)
                $('#id_member_secondary').html(html_data)
                $('#id_member_teritary').html(html_data)
                
              },
              error:function()
              {
                console.log('error ')
              }
          });  
  
      });
      </script>
     <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>


