{% extends 'base/main.html' %}

{% block content %}


 <form method ='post'>
  {% csrf_token %} 
  <div> <input placeholder='Enter team name' id="team"></div>
 <p>Date: <input type="text" id="datepicker"></p>
 <button id='search_meets' class='search_meets'>search</button>
 <div>Trying new stuff</div>

 <input  class='timepicker' style="width: 120px;">
{% comment %} {{form.start_time}} {% endcomment %}


   <input type='submit'> 
 </form> 
   

{% endblock %}


#task 1 : when user select team and date click search then return the slot