{% extends 'base/main.html' %}

{% block content %}







// backend meeting creation form
 <form id='meeting_creation_form' method ='post'>
  {% csrf_token %} 
  <div> <input placeholder='Enter team name' id="team"></div>
 <p>Start Date: <input type="text" id="datepicker"></p>
 <p>End Date: <input type="text" id="datepicker2"></p>
 
 <p>Start time <input  class='timepicker' style="width: 120px;"></p>
 <p>End time <input  class='timepicker2' style="width: 120px;"></p>
<p>Team Manager : {{form.team_manager}}</p>
 <p>Team Lead Primary : {{form.team_lead_primary}}</p>
<p>Team Lead Secondary : {{form.team_lead_secondary}}</p>
<p>Member Primary : {{form.member_primary}}</p>
<p>Member secondary: {{form.member_secondary}}</p>
<p>Member teritary : {{form.member_teritary}}</p>

   <input id='submit_button' type='submit'> 
 </form> 


 <div id='all_meet'></div>  



  // get data from db based on current date and time
 <div> <input placeholder='Enter team name' id="team2"></div>
 <div><button id ='search_oncall'>Search</button></div>
 
 
{% endblock %}

#task 0 : make a post request to register meeting and create meeting object
#task 1 : when user select team get current date automatically and show who is primary now